<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1><a href="/">my project with EJS</a></h1>
            
			<nav>
				<a href="/product">products</a>

				<% if (!isLogged) { %>
				  <a href="/authentication">sign in</a>
				<% } %>

                <% if (isLogged) { %>
				  <a href="/authentication/logout">Log out</a>
				<% } %>
			</nav>
		</header>

		<main>
			<h2>soon some products</h2>

			<p>Welcome , <%= username ? username : "Guest" %></p>
		</main>
        
		<footer>
			<p>copyright Romain Fournier - 2025</p>
		</footer>
	</body>
</html>
